.container {
  text-align: left;
  margin-top: 20px;
}

#weatherInfo {
  text-align: left;
  margin-top: 20px;
}

#searchHistory {
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}

button {
  align-items: center;
}
  